<!DOCTYPE html><html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- load MUI -->
        <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
        <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
        <title>static site title</title>
    </head>
<body>
    <nav class="mui-panel">menu: 
        <button class="mui-button"><a href="/">home</a></button>
        <button class="mui-button"><a href="/hello/">hello</a></button>
    </nav><div class="mui-container">
    <div class="mui-panel">
    {% block content %}base content{% endblock %}
    </div></div>
</body>
</html>